#footer {
  background-color: #04020a;
  color: var(--color-text-muted);
  text-align: center;
  padding: 60px 0 40px 0;
  font-family: var(--font-code); /* Make footer all code */
  font-size: 1.1rem;
  border-top: 1px solid var(--color-card-border);
  margin-top: 100px;
  position: relative;
  z-index: 2;
}

#footer p {
  margin: 0;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

#footer a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  margin: 0 15px;
}

#footer a:hover {
  color: var(--color-secondary); /* Turn orange on hover */
}
