/* Header base */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  box-shadow: 0 4px 10px rgba(106, 13, 173, 0.5);
  background-color: var(--color-background);
}

.title {
  display: flex;
  align-items: center;
}

#header-img {
  width: 80px;
}

#nav-bar {
  display: flex;
  gap: 30px;
  position: relative;
}

#nav-bar a {
  text-decoration: none;
  font-family: var(--font-family-secondary);
  font-weight: 700;
  font-style: normal;
  color: var(--color-primary);
  font-size: 1.5rem;
  transition: color 0.3s;
  position: relative;
}

#nav-bar a::after {
  content: "";
  display: block;
  width: 0%;
  height: 10px;
  background-image: radial-gradient(circle, var(--color-primary) 20%, transparent 20%);
  background-size: 10px 10px;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: width 0.5s ease;
  overflow: hidden;
}

#nav-bar a:hover::after {
  width: 100%;
}

/* Estilos para pantallas grandes */
@media (min-width: 769px) {
  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    box-shadow: 0 4px 10px rgba(106, 13, 173, 0.5);
    background-color: var(--color-background);
  }

  .title {
    display: flex;
    align-items: center;
  }

  #nav-bar {
    display: flex;
    gap: 30px;
    position: relative;
  }

  #nav-bar a {
    font-size: 1.5rem;
  }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  #header {
    flex-direction: column; /* Colocamos el contenido en columna */
    justify-content: center; /* Centrar el contenido */
    padding: 20px;
  }

  /* Colocamos el nav-bar debajo del título */
  #nav-bar {
    display: flex;
    flex-direction: column; /* Los links en columna */
    gap: 20px; /* Espacio entre los links */
    align-items: center; /* Centramos los links */
    margin-top: 20px; /* Un poco de margen para separar el título de los links */
  }

  #nav-bar a {
    font-size: 1.2rem; /* Ajustamos el tamaño de fuente en pantallas pequeñas */
  }
}
