@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    font-family: sans-serif;
    scroll-behavior: smooth;
    background-color: #FEFEFC;
  }

  h1,h2,span{
    font-family: "Montserrat", sans-serif;
    color: #6A0DAD;
  }

  #header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    box-shadow: 0 4px 10px rgba(106, 13, 173, 0.5);
  }

  .title{
    display: flex;
    align-items: center;
  }

  #header-img{
    width: 80px;
  }

  #nav-bar{
    display: flex;
    gap: 30px;

  }

  #nav-bar a {
    text-decoration: none;
    font-family: "Hind Madurai", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #6A0DAD;
    font-size: 1.5rem;
    position: relative;
    transition: color 0.3s;
}

/* Pseudo-elemento que creará los círculos */
#nav-bar a::after {
    content: "";
    display: block;
    width: 0%;
    height: 10px;
    background-image: radial-gradient(circle, #6A0DAD 20%, transparent 20%);
    background-size: 10px 10px;
    position: absolute;
    left: 0;
    bottom: -5px; /* Coloca los círculos justo debajo del texto */
    transition: width 0.5s ease;
    overflow: hidden;
}

/* Al hacer hover, los círculos se expanden */
#nav-bar a:hover::after {
    width: 100%; /* Los círculos llenan todo el ancho del enlace */
}

#hero{
  display: flex;
  margin-top: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  gap: 200px;
}

#hero video{
  width: 40%;
}
.content h2{
  color: #6A0DAD;
  font-size: 4rem;
}

.content{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content p{
  font-family: "Hindi Madurai",sans-serif;
  font-size: 1.5rem;
}


.article{
  margin-top: 100px;
  padding: 20px 100px;
}

.about{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  margin-bottom: 100px;
}

.about i{
  font-size: 200px;
  color: #6A0DAD;
}

.about-content{
  width: 1000px;
  text-align: center;
}

.about-content h2{
  font-size: 40px;
  color: #6A0DAD;
  margin-bottom: 32px;
}

.about-content p{
  font-size: 20px;
  font-family: 'Hindi Madurai',sans-serif;
}

.article{
  margin-top: 100px;
  padding: 20px 100px;
}

#about{
display: flex;
align-items: center;
justify-content: center;
gap: 20rem;
margin-bottom: 100px;
}

#about i {
font-size: 200px;
color: #4A0A7F;
}

.about-content{
width: 1000px;
text-align: center;

}

.about-content h2{
font-size: 40px;
color: #4A0A7F;
margin-bottom: 32px;
}

.about-content p{
font-size: 20px;
font-family: "Hind Madurai", sans-serif;
}



.parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(4, 1fr);
gap: 8px;
text-align: center;
}

.div1 {
grid-column: span 3 / span 3;
text-align: center;
display: flex;
flex-direction: column;
gap: 32px;
}

.div1 h2{
font-size: 40px;
color: #4A0A7F;
}
.parent p{
font-size: 20px;
margin-top: 20px;
}
.parent strong{
color: #4A0A7F;
font-size: 20px;
}
.div2 {
grid-column-start: 2;
grid-row-start: 2;
display: flex;
justify-content: center;
align-items: center;
}

.div2 i {
font-size: 200px;
color: #4A0A7F; 
}

.div3 {
grid-column-start: 1;
grid-row-start: 2;
}

.div4 {
grid-row-start: 2;
}


.div6 {
grid-column-start: 3;
grid-row-start: 3;
}

.div7 {
grid-column-start: 2;
grid-row-start: 3;
margin-top: 100px;
}

.div8 {
grid-column: span 3 / span 3;
display: flex;
align-items: center;
justify-content: center;
}

#contact {
background-color: #4A0A7F;
color: aliceblue;
text-align: center;
padding: 40px;
}

#contact h2 {
font-size: 40px;
}

.form-group {
margin-bottom: 15px;
font-family: "Hind Madurai", sans-serif;
}

#form{
margin-top: 30px;
}

label {
display: block;
margin-bottom: 5px;
font-size: 18px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
width: 50%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
font-size: 16px;
margin-top: 5px;
}

input[type="submit"] {
background-color: #F6A44D;
color: #4A0A7F;
padding: 20px 50px;
border: none;
border-radius: 4px;
font-size: 16px;
cursor: pointer;
margin-top: 10px;
transition: transform 0.3s;
}

input[type="submit"]:hover {
transform: scale(1.1);
}

@media (max-width: 768px) {
#header {
    padding: 20px 20px;
    flex-direction: column;
}

#nav-bar {
    flex-direction: column;
    gap: 10px;
}

#hero {
    flex-direction: column;
    padding: 20px 20px;
    gap: 50px;
}

#hero h1 {
    font-size: 2.5rem;
}

.about-content {
    width: 90%;
}

#about {
    flex-direction: column;
    gap: 50px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 80%; /* Aumentar el ancho de los inputs en dispositivos móviles */
}

input[type="submit"] {
    padding: 15px 30px; 
}

#contact h2 {
    font-size: 30px; 
}
}

@media (max-width: 480px) {
#header {
    padding: 10px 10px;
}

#nav-bar a {
    font-size: 1.2rem; 
}

#hero h1 {
    font-size: 2rem; 
}

#about i {
    font-size: 100px; 
}

.about-content h2 {
    font-size: 30px; 
}

.content p {
    font-size: 1.2rem; 
}
}