@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    font-family: sans-serif;
    scroll-behavior: smooth;
    background-color: #FEFEFC;
  }

  h1,h2,span{
    font-family: "Montserrat", sans-serif;
    color: #6A0DAD;
  }

  #header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    box-shadow: 0 4px 10px rgba(106, 13, 173, 0.5);
  }

  .title{
    display: flex;
    align-items: center;
  }

  #header-img{
    width: 80px;
  }

  #nav-bar{
    display: flex;
    gap: 30px;

  }

  #nav-bar a {
    text-decoration: none;
    font-family: "Hind Madurai", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #6A0DAD;
    font-size: 1.5rem;
    position: relative;
    transition: color 0.3s;
}

/* Pseudo-elemento que creará los círculos */
#nav-bar a::after {
    content: "";
    display: block;
    width: 0%;
    height: 10px;
    background-image: radial-gradient(circle, #6A0DAD 20%, transparent 20%);
    background-size: 10px 10px;
    position: absolute;
    left: 0;
    bottom: -5px; /* Coloca los círculos justo debajo del texto */
    transition: width 0.5s ease;
    overflow: hidden;
}

/* Al hacer hover, los círculos se expanden */
#nav-bar a:hover::after {
    width: 100%; /* Los círculos llenan todo el ancho del enlace */
}


.content-hero h2{
  color: #6A0DAD;
  font-size: 4rem;
}

.content-hero{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content-hero p{
  font-family: "Hindi Madurai",sans-serif;
  font-size: 1.5rem;
}